#header {
	background-color: #ebebeb;
	width: 826px;
	height: 84px;
	margin-left: 320px;
	margin-top: 6px;
	margin-right: 1146px
	margin-bottom:90px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;
}

#nav {
	background-color: #ebebeb;
	width: 826px;
	height: 84px;
	margin-left: 320px;
	margin-top: 6px;
	margin-right: 1146px
	margin-bottom:90px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;
}

#footer {
	background-color: #ebebeb;
	width: 826px;
	height: 84px;
	margin-left: 320px;
	margin-top: 6px;
	margin-right: 1146px
	margin-bottom:90px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;
}

#section {
	background-color: #ebebeb;
	width: 456px;
	height: 257px;
	margin-left: 320px;
	margin-top: 198px;
	margin-right: 776px
	margin-bottom:455px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;
}

#aside {
	float: right;
	background-color: #ebebeb;
	width: 356px;
	height: 253px;
	margin-left: 778px;
	margin-top: 198px;
	margin-right: 1144px
	margin-bottom:451px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;
}

#article {
	background-color: #ebebeb;
	width: 436px;
	height: 170px;
	margin-left: 328px;
	margin-top: 272px;
	margin-right: 764px
	margin-bottom:442px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-width: 0px;
	border-color: #113152;
	font-size: 18px;
	text-align: center;

}

body {
	background-color:  #777777;
}

